<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(document).ready( function(){
            viewStudent()
            $("#upbtn").hide()
        })

        function viewStudent() {
            var row = "";
            $.get("viewStudent", {}, function(rt) {

                for( var i in rt.allStudents) {
                    row = row + "<tr><td>" + rt.allStudents[i].id + "</td><td>" + rt.allStudents[i].username + "</td><td>" + rt.allStudents[i].email + "</td><td>" + rt.allStudents[i].phone + "</td><td> <button class='btn btn-primary' onclick='editStudent("+ rt.allStudents[i].id +")'>Edit</button>" + "</td><td> <button class='btn btn-danger' onclick='deleteStudent("+ rt.allStudents[i].id +")'>Delete</button>" + "</td></tr>"    
                }
                $('#tdata').html(row)

                
            })
        }

        
        function addStudent(){
            var uname = $("#uname").val()
            var email = $("#email").val()
            var phone = $("#phone").val()

            var csrfmiddlewaretoken  = document.getElementsByName("csrfmiddlewaretoken")[0].value

            $.post("addStudent", {csrfmiddlewaretoken, uname, email, phone}, function(rt){
                alert(rt)
                $("#uname").val("")
                $("#email").val("")
                $("#phone").val("")
                viewStudent()

                $("#upbtn").hide()
            })
        }

        function editStudent(uid){
            $.get("/edit", {uid}, function(rt){
                $("#id").val(rt.st[0].id)
                $("#uname").val(rt.st[0].username)
                $("#email").val(rt.st[0].email)
                $("#phone").val(rt.st[0].phone)

                viewStudent()

                $("#smbtn").hide()
                $("#upbtn").show()
            })
        }

        function updateStudent(){

            var id = $("#id").val()
            var uname = $("#uname").val()
            var email = $("#email").val()
            var phone = $("#phone").val()

            var csrfmiddlewaretoken  = document.getElementsByName("csrfmiddlewaretoken")[0].value

            $.post("/updateStudent", {csrfmiddlewaretoken, id, uname, email, phone}, function(rt){
                alert(rt)
                $("#id").val("")
                $("#uname").val("")
                $("#email").val("")
                $("#phone").val("")
                viewStudent()

                $("#smbtn").show()
                $("#upbtn").hide()
            })
        }

        function deleteStudent(uid){
            $.get("/deleteStudent", {uid}, function(rt){
                alert(rt)
                $("#id").val("")
                $("#uname").val("")
                $("#email").val("")
                $("#phone").val("")
                viewStudent()
                $("#smbtn").show()
                $("#upbtn").hide()
            })
        }


    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4 card mt-3 p-5">
                <h2 align="center">User Registration</h2>
                <hr>
                {%csrf_token%}
                <input type="hidden" name="id" id="id">
                <div class="form-group">
                    <label for="uname">Username</label>
                    <input type="text" name="uname" id="uname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="uname">Phone</label>
                    <input type="text" name="phone" id="phone" class="form-control">
                </div>
                <button class="btn btn-success" id="smbtn" onclick="addStudent()">Submit</button>
                <button class="btn btn-success" id="upbtn" onclick="updateStudent()">Update</button>
            </div>
            <div class="col-1">

            </div>
            <div class="col-7 card mt-3 p-5">
                <h2 align="center">User Details</h2>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tdata">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>