<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-5 mx-auto card p-3 mt-3">
                <h2 align="center">User Registration</h2>
                <hr>
                {% if messages %}

                {% for message in messages %}

                {%if "error" in message.tags%}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {%else%}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>

                {%endif%}

                {% endfor %}


                {% endif %}




                <form action="{%url 'signup_user'%}" method="post">
                    {%csrf_token%}
                    <div class="form-group">
                        <label for="uname">Username</label>
                        <input type="text" name="uname" id="uname" placeholder="Enter username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fname">FirstName</label>
                        <input type="text" name="fname" id="fname" placeholder="Enter first name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lname">LastName</label>
                        <input type="text" name="lname" id="lname" placeholder="Enter last name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Enter email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass" placeholder="Enter Password" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-success">
                    <input type="reset" class="btn btn-primary"><br><br>
                    <a href="/">Alredy Registered? Login here</a>
                </form>
            </div>
        </div>
    </div>


</body>

</html>