{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							At eZcart, our journey began with a simple idea: to make online shopping easy, accessible, and enjoyable for everyone. Starting as a small project fueled by a passion for technology and customer satisfaction, we have grown into a platform that connects people with a wide range of products, all at their fingertips. Over the years, our commitment to innovation and quality service has remained unwavering, allowing us to build lasting relationships with our customers. We believe that every purchase tells a story, and we're here to make yours seamless and memorable.
						</p>

						<p class="stext-113 cl6 p-b-26">
							As we continue to evolve, our story is one of resilience, innovation, and connection. eZcart is not just a shopping website; it’s a community where trust and relationships are valued. Every milestone we achieve is inspired by our customers, whose feedback and loyalty motivate us to reach greater heights. From humble beginnings to where we stand today, eZcart remains committed to offering a seamless and enjoyable shopping experience, ensuring that every visit leaves a lasting impression.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or <a href="contact">Contact Us</a>
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Our mission at eZcart is to redefine the online shopping experience by offering unparalleled convenience, exceptional value, and top-notch customer service. We aim to empower our customers with a platform that not only caters to their needs but also anticipates them. By continuously expanding our product range, leveraging the latest technology, and fostering trust, we strive to create a shopping experience that is as enjoyable as it is efficient. At eZcart, we’re dedicated to making your life easier, one purchase at a time.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

{% endblock body %}